@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?10312117');
  src: url('../fonts/fontello.eot?10312117#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?10312117') format('woff2'),
       url('../fonts/fontello.woff?10312117') format('woff'),
       url('../fonts/fontello.ttf?10312117') format('truetype'),
       url('../fonts/fontello.svg?10312117#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10312117#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-hospital:before { content: '\e800'; } /* '' */
.icon-favorite:before { content: '\e801'; } /* '' */
.icon-clock-(1):before { content: '\e802'; } /* '' */
.icon-left-quote:before { content: '\e803'; } /* '' */
.icon-communication-4:before { content: '\e804'; } /* '' */
.icon-next-12:before { content: '\e805'; } /* '' */
.icon-1:before { content: '\e806'; } /* '' */
.icon-2:before { content: '\e807'; } /* '' */
.icon-3:before { content: '\e808'; } /* '' */
.icon-4:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-email:before { content: '\e82d'; } /* '' */
.icon-envelope:before { content: '\e82e'; } /* '' */
.icon-percentage:before { content: '\e83d'; } /* '' */
.icon-phone-call:before { content: '\e83e'; } /* '' */
.icon-placeholder:before { content: '\e841'; } /* '' */
.icon-push-pin:before { content: '\e843'; } /* '' */
.icon-cancel:before { content: '\e85d'; } /* '' */
.icon-cancel-2:before { content: '\e85f'; } /* '' */
.icon-check:before { content: '\e860'; } /* '' */
.icon-checked:before { content: '\e861'; } /* '' */
.icon-checked-1:before { content: '\e862'; } /* '' */
.icon-checked-2:before { content: '\e863'; } /* '' */
.icon-double-chevron:before { content: '\e86d'; } /* '' */
.icon-download-1:before { content: '\e86f'; } /* '' */
.icon-download-2:before { content: '\e870'; } /* '' */
.icon-download-3:before { content: '\e871'; } /* '' */
.icon-download-4:before { content: '\e872'; } /* '' */
.icon-download-5:before { content: '\e873'; } /* '' */
.icon-download-6:before { content: '\e874'; } /* '' */
.icon-download-7:before { content: '\e875'; } /* '' */
.icon-download-8:before { content: '\e876'; } /* '' */
.icon-download-9:before { content: '\e877'; } /* '' */
.icon-download-11:before { content: '\e879'; } /* '' */
.icon-download-12:before { content: '\e87a'; } /* '' */
.icon-export-1:before { content: '\e87b'; } /* '' */
.icon-fast-forward:before { content: '\e87c'; } /* '' */
.icon-fullscreen:before { content: '\e87e'; } /* '' */
.icon-upload-12:before { content: '\e880'; } /* '' */
.icon-back-2:before { content: '\e881'; } /* '' */
.icon-back-7:before { content: '\e882'; } /* '' */
.icon-download-10:before { content: '\e883'; } /* '' */
.icon-next-1:before { content: '\e884'; } /* '' */
.icon-login:before { content: '\e885'; } /* '' */
.icon-logout:before { content: '\e886'; } /* '' */
.icon-menu:before { content: '\e887'; } /* '' */
.icon-menu-1:before { content: '\e888'; } /* '' */
.icon-menu-2:before { content: '\e889'; } /* '' */
.icon-menu-3:before { content: '\e88a'; } /* '' */
.icon-phone-call-1:before { content: '\e88b'; } /* '' */
.icon-envelope-1:before { content: '\e88c'; } /* '' */
.icon-next-2:before { content: '\e88f'; } /* '' */
.icon-next-3:before { content: '\e890'; } /* '' */
.icon-next-4:before { content: '\e891'; } /* '' */
.icon-next-5:before { content: '\e892'; } /* '' */
.icon-next-6:before { content: '\e893'; } /* '' */
.icon-next-7:before { content: '\e894'; } /* '' */
.icon-next-8:before { content: '\e895'; } /* '' */
.icon-next-9:before { content: '\e896'; } /* '' */
.icon-next-10:before { content: '\e897'; } /* '' */
.icon-next-11:before { content: '\e898'; } /* '' */
.icon-5:before { content: '\e899'; } /* '' */
.icon-6:before { content: '\e89a'; } /* '' */
.icon-quote:before { content: '\e89b'; } /* '' */
.icon-previous:before { content: '\e89c'; } /* '' */
.icon-previous-1:before { content: '\e89d'; } /* '' */
.icon-previous-2:before { content: '\e89e'; } /* '' */
.icon-rewind:before { content: '\e8a3'; } /* '' */
.icon-up-arrow:before { content: '\e8a8'; } /* '' */
.icon-up-arrow-1:before { content: '\e8a9'; } /* '' */
.icon-upload-1:before { content: '\e8ab'; } /* '' */
.icon-upload-2:before { content: '\e8ac'; } /* '' */
.icon-upload-3:before { content: '\e8ad'; } /* '' */
.icon-upload-4:before { content: '\e8ae'; } /* '' */
.icon-upload-5:before { content: '\e8af'; } /* '' */
.icon-upload-6:before { content: '\e8b0'; } /* '' */
.icon-upload-7:before { content: '\e8b1'; } /* '' */
.icon-upload-9:before { content: '\e8b3'; } /* '' */
.icon-upload-10:before { content: '\e8b4'; } /* '' */
.icon-back:before { content: '\e8bb'; } /* '' */
.icon-back-3:before { content: '\e8be'; } /* '' */
.icon-back-4:before { content: '\e8bf'; } /* '' */
.icon-back-5:before { content: '\e8c0'; } /* '' */
.icon-back-6:before { content: '\e8c1'; } /* '' */
.icon-back-8:before { content: '\e8c3'; } /* '' */
.icon-magnifying-glass:before { content: '\e8c7'; } /* '' */
.icon-share:before { content: '\e8c8'; } /* '' */
.icon-clock:before { content: '\e8c9'; } /* '' */
.icon-export:before { content: '\e8cb'; } /* '' */
.icon-heart:before { content: '\e8cd'; } /* '' */
.icon-heart-2:before { content: '\e8cf'; } /* '' */
.icon-left-arrow:before { content: '\e8d3'; } /* '' */
.icon-like:before { content: '\e8d8'; } /* '' */
.icon-picture:before { content: '\e8f9'; } /* '' */
.icon-pie-chart-1:before { content: '\e8fb'; } /* '' */
.icon-placeholder-1:before { content: '\e8fd'; } /* '' */
.icon-plus:before { content: '\e8fe'; } /* '' */
.icon-previous-3:before { content: '\e8ff'; } /* '' */
.icon-previous-4:before { content: '\e900'; } /* '' */
.icon-search:before { content: '\e90e'; } /* '' */
.icon-smartphone-1:before { content: '\e911'; } /* '' */
.icon-sort:before { content: '\e912'; } /* '' */
.icon-speech-bubble:before { content: '\e915'; } /* '' */
.icon-speech-bubble-1:before { content: '\e916'; } /* '' */
.icon-speech-bubble-9:before { content: '\e91e'; } /* '' */
.icon-speech-bubble-10:before { content: '\e91f'; } /* '' */
.icon-speech-bubble-11:before { content: '\e920'; } /* '' */
.icon-speech-bubble-12:before { content: '\e921'; } /* '' */
.icon-speech-bubble-17:before { content: '\e926'; } /* '' */
.icon-speech-bubble-18:before { content: '\e927'; } /* '' */
.icon-speech-bubble-23:before { content: '\e92c'; } /* '' */
.icon-speech-bubble-24:before { content: '\e92d'; } /* '' */
.icon-speech-bubble-25:before { content: '\e92e'; } /* '' */
.icon-speech-bubble-26:before { content: '\e92f'; } /* '' */
.icon-speech-bubble-27:before { content: '\e930'; } /* '' */
.icon-sticker-4:before { content: '\e937'; } /* '' */
.icon-telephone-2:before { content: '\e940'; } /* '' */
.icon-telephone-3:before { content: '\e941'; } /* '' */
.icon-telephone-8:before { content: '\e946'; } /* '' */
.icon-up-arrow-2:before { content: '\e952'; } /* '' */
.icon-upload-11:before { content: '\e953'; } /* '' */
.icon-upload-8:before { content: '\e954'; } /* '' */
.icon-user:before { content: '\e956'; } /* '' */
.icon-user-1:before { content: '\e957'; } /* '' */
.icon-bookmark:before { content: '\e95c'; } /* '' */
.icon-cancel-3:before { content: '\e95d'; } /* '' */
.icon-check-1:before { content: '\e95e'; } /* '' */
.icon-checked-3:before { content: '\e95f'; } /* '' */
.icon-check-mark:before { content: '\e960'; } /* '' */
.icon-close:before { content: '\e961'; } /* '' */