@charset "UTF-8";



@charset "UTF-8";

#element.style {
}
#page-header {
    background: linear-gradient(rgba(19, 19, 18, 0.3), rgba(19, 19, 18, 0.3), rgba(19, 19, 18, 0.3)), url(../images/page-header.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
}
#page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

<!--  -->
#user agent stylesheet
#div {
    display: block;
}
#body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    background-color: #fff;
    color: #848484;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
#body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
#html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #ffecb3;
    color: #333;
}

/* 운동 도우미 */
 .Menu_list__XupHS {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
} 

.Menu_list__XupHS  {
	margin : 0 0 0 200px;
	
}

/* 사이드 메뉴 바 */
#div {
	
	margin: 0;
	padding: 0;
}
#table {
	border-collapse: collapse;
	border-spacing: 0;
	flex: auto;
}

#p1 > li {
	margin-top: 65px;
	
}

 #id2{
            /* 
            fixed는 화면 고정위치 배치
            top.bottom.left.right 함께 사용되어야 함.
            width/height 지정도 함께 해야함.
            */
            position: fixed;
            bottom: 30px;
            left: 20px;
            width: 130px;
            z-index: 999;
        }
        
#p1{
	line-height: 50px;
}
