@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);body,html {
    padding: 0;
    margin: 0;
    background-color: #f9faff!important;
    font-family: Noto Sans KR,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

* {
    font-family: Noto Sans KR
}

body,body>div:first-child,div#__next,div#__next>div,html {
    height: 100%
}

a,a:hover,a:visited {
    text-decoration: none
}

* {
    box-sizing: border-box
}

@font-face {
    font-family: Gotham;
    src: url(/fonts/Gotham-Black.otf);
    format:("otf");font-display: swap
}

@font-face {
    font-family: Gotham Black;
    src: url(/fonts/Gotham-Black.otf);
    format:("otf")}

input:hover {
    border-color: #97d4e9!important
}

ul {
    margin-bottom: 0!important
}

body,html {
    width: 100%;
    height: 100%
}

input::-ms-clear,input::-ms-reveal {
    display: none
}

*,:after,:before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

@-ms-viewport {
    width: device-width
}

body {
    margin: 0
}

[tabindex="-1"]:focus {
    outline: none
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 500
}

p {
    margin-top: 0;
    margin-bottom: 1em
}

abbr[data-original-title],abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline;
    text-decoration: underline dotted;
    border-bottom: 0;
    cursor: help
}

address {
    margin-bottom: 1em;
    font-style: normal;
    line-height: inherit
}

input[type=number],input[type=password],input[type=text],textarea {
    -webkit-appearance: none
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1em
}

ol ol,ol ul,ul ol,ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 500
}

dd {
    margin-bottom: .5em;
    margin-left: 0
}

blockquote {
    margin: 0 0 1em
}

dfn {
    font-style: italic
}

b,strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

code,kbd,pre,samp {
    font-size: 1em;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace
}

pre {
    margin-top: 0;
    margin-bottom: 1em;
    overflow: auto
}

figure {
    margin: 0 0 1em
}

img {
    vertical-align: middle;
    border-style: none
}

[role=button],a,area,button,input:not([type=range]),label,select,summary,textarea {
    touch-action: manipulation
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75em;
    padding-bottom: .3em;
    text-align: left;
    caption-side: bottom
}

button,input,optgroup,select,textarea {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=date],input[type=datetime-local],input[type=month],input[type=time] {
    -webkit-appearance: listbox
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: .5em;
    padding: 0;
    color: inherit;
    font-size: 1.5em;
    line-height: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none!important
}

mark {
    padding: .2em;
    background-color: #feffe6
}

.Menu_container {
    height: 50px;
    margin-top: 50px;
    margin-bottom: 30px
}

.Menu_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px
}

.Menu_list > li {
    font-family: Noto Sans KR;
    font-size: 26px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    width: 25%
}

.MyPage_basic_input_row {
    display: flex;
    margin-bottom: 20px
}

.MyPage_basic_input_title {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    align-self: center;
    text-align: left;
    flex: 0 1;
    width: 150px;
    min-width: 150px
}

.MyPage_basic_input_content {
    display: flex;
    flex: 3 1;
    margin-right: 20px
}

.MyPage_basic_input {
    height: 60px;
    border-radius: 30px;
    border: 1px solid #99d3e9;
    padding-left: 30px
}

.MyPage_basic_btn {
    height: 60px;
    border-radius: 30px;
    background-color: #99d3e9;
    color: #fff;
    border: 1px solid transparent;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal
}

.MyPage_basic_btn:hover {
    color: #fff!important;
    border-color: #99d3e9!important
}

.MyPage_btn_right {
    float: right;
    margin: 0 10px;
    padding: 10px;
}

.MyPage_basic_red a {
    color: red
}

.MyPage_basic_red a:hover {
    color: red!important
}

.MyPage_each_activity_name__F1rls,.MyPage_each_activity_par__5y511,.MyPage_each_activity_time__rvSf_ {
    flex: 2 1;
    align-self: center
}

.MyPage_each_activity_ctl__3Otb3 {
    flex: 1 1;
    align-self: center;
    justify-content: flex-end;
    text-align: right
}

.MyPage_modal_custom_activity__0TQzH {
    z-index: 30001!important
}

.MyPage_modal_custom_activity__0TQzH .MyPage_ant-modal-content__JzrWU {
    border-radius: 30px!important
}

.MyPage_modal_custom_food__dAuH9 {
    z-index: 30001!important
}

.MyPage_modal_custom_food__dAuH9 .MyPage_ant-modal-content__JzrWU {
    border-radius: 30px!important
}

.MyPage_modal_custom_activity_title__ByXR1 {
    font-family: Noto Sans KR;
    font-size: 26px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    margin-top: 30px
}

.MyPage_modal_custom_activity_contents__c2ZpC {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center
}

.MyPage_modal_custom_activity_contents_title__S0MCo {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    border: 1px solid #99d3e9;
    border-right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 10px 20px;
    width: 160px;
    min-width: 160px;
    max-width: 160px
}

.MyPage_modal_custom_activity_contents_input__qTdMn {
    background-color: #f4f7f8;
    border-top: 1px solid #99d3e9;
    border-bottom: 1px solid #99d3e9;
    display: 1
}

.MyPage_modal_custom_activity_contents_input2__LjseU {
    background-color: #f4f7f8;
    border-top: 1px solid #99d3e9;
    border-bottom: 1px solid #99d3e9;
    display: flex;
    flex: 1 1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px
}

.MyPage_modal_custom_activity_contents_unit__tN68D {
    font-weight: 100;
    color: #000;
    border: 1px solid #99d3e9;
    border-left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px 20px;
    width: 160px;
    min-width: 160px;
    max-width: 160px
}

.MyPage_modal_custom_activity_contents_unit__tN68D,.MyPage_modal_custom_input__M7q8F {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center
}

.MyPage_modal_custom_input__M7q8F {
    background-color: transparent;
    border: 0;
    font-weight: 900;
    align-self: center;
    justify-content: center;
    height: 100%
}

.MyPage_modal_custom_activity_title_desc__6ky1m {
    font-weight: 100;
    color: #000
}

.MyPage_modal_custom_activity_title_desc__6ky1m,.MyPage_modal_custom_btn__NEk1o {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center
}

.MyPage_modal_custom_btn__NEk1o {
    font-weight: 900;
    color: #fff;
    height: 60px;
    width: 50%;
    background-color: #99d3e9;
    align-self: center;
    justify-content: center;
    padding: 5px 20px
}

.MyPage_modal_custom_activity_contents_input2__LjseU>div {
    width: 100%!important;
    align-self: center!important;
    display: flex
}

.MyPage_food_type__iUt9k {
    font-weight: 100;
    background-color: transparent
}

.MyPage_food_type__iUt9k,.MyPage_food_type_btn_selected__ZtpKe {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    width: 50%!important;
    min-width: 50%!important;
    max-width: 50%!important;
    height: 100%!important;
    border: 0!important
}

.MyPage_food_type_btn_selected__ZtpKe {
    box-shadow: none!important;
    font-weight: 900;
    background-color: transparent!important;
    color: #000!important
}

.MyPage_food_type__iUt9k:before {
    border: 0!important;
    background-color: transparent!important
}

.MyPage_each_food__fAZ8p {
    display: flex;
    border: 1px solid #99d3e9;
    border-radius: 30px;
    padding: 10px 10px 10px 40px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal
}

.MyPage_each_food_number___KJ47 {
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    flex: 0 1;
    align-self: center
}

.MyPage_each_food_name__Ez15t {
    flex: 3 1;
    align-self: center
}

.MyPage_each_food_calory__byOFO {
    flex: 3 1;
    align-self: center;
    text-align: center
}

.MyPage_each_food_carb__ALRTV,.MyPage_each_food_fat__08QAL,.MyPage_each_food_protein__aocb7 {
    flex: 1.2 1;
    align-self: center
}

.MyPage_each_food_standard__ozM7e {
    flex: 1 1;
    align-self: center
}

.MyPage_each_food_type__wO_6h {
    flex: 2 1;
    align-self: center
}

.MyPage_each_food_ctl__CbqE1 {
    flex: 1 1;
    align-self: center;
    justify-content: flex-end;
    text-align: right;
    display: flex
}

.Join_join_input_email_input__FRAfh {
    height: 60px
}

.Join_join_input_confirm_input__CZRxf,.Join_join_input_email_input__FRAfh {
    border-radius: 30px!important;
    border: 1px solid #99d3e9!important;
    background-color: #fff!important
}

.Join_join_input_confirm_input__CZRxf {
    margin-left: 20px;
    width: 340px;
    height: 60px!important
}

.Join_join_input_email_input__FRAfh>input::-moz-placeholder {
    text-align: right
}

.Join_join_input_email_input__FRAfh>input:-ms-input-placeholder {
    text-align: right
}

.Join_join_input_email_input__FRAfh>input::placeholder {
    text-align: right
}

.Join_join_input_password1_input__x1XNi {
    margin-right: 10px!important
}

.Join_join_input_password1_input__x1XNi,.Join_join_input_password2_input__qN23E {
    height: 60px;
    border-radius: 30px!important;
    border: 1px solid #99d3e9!important;
    background-color: #fff!important
}

.Join_join_input_password2_input__qN23E {
    margin-left: 10px!important
}

.Join_join_input_password1_input__x1XNi>input::-moz-placeholder {
    text-align: right
}

.Join_join_input_password1_input__x1XNi>input:-ms-input-placeholder {
    text-align: right
}

.Join_join_input_password1_input__x1XNi>input::placeholder {
    text-align: right
}

.Join_join_input_password2_input__qN23E>input::-moz-placeholder {
    text-align: right
}

.Join_join_input_password2_input__qN23E>input:-ms-input-placeholder {
    text-align: right
}

.Join_join_input_password2_input__qN23E>input::placeholder {
    text-align: right
}

.Join_join_input_gender_left___1dmX {
    flex: 1 1;
    display: flex;
    margin-right: 10px!important
}

.Join_join_input_nickname_input__mcbdW {
    flex: 1 1;
    height: 60px;
    border-radius: 30px!important;
    border: 1px solid #99d3e9!important;
    background-color: #fff!important
}

.Join_join_input_nickname_input__mcbdW>input::-moz-placeholder {
    text-align: right
}

.Join_join_input_nickname_input__mcbdW>input:-ms-input-placeholder {
    text-align: right
}

.Join_join_input_nickname_input__mcbdW>input::placeholder {
    text-align: right
}

.Join_join_input_gender__iUd07 {
    flex: 1 1;
    display: flex;
    margin-bottom: 20px
}

.Join_join_input_gender_right__9UINh {
    flex: 1 1;
    margin-left: 10px!important
}

.Join_join_input_gender_btn_group__AC6Im {
    flex: 1 1;
    display: flex!important;
    padding: 0
}

.Join_join_input_gender_btn__7FWO7 {
    flex: 1 1!important;
    height: 60px!important;
    border-radius: 30px!important;
    border: 1px solid #99d3e9!important;
    background-color: #fff!important;
    margin-right: 10px!important;
    font-family: Noto Sans KR!important;
    font-size: 18px!important;
    font-weight: 900!important;
    font-stretch: normal!important;
    font-style: normal!important;
    line-height: 1.67!important;
    letter-spacing: normal!important;
    color: #99d3e9!important;
    text-align: center!important;
    padding-top: 15px!important
}

.Join_join_input_gender_btn_checked__EAuH1 {
    border: 3px solid #99d3e9!important
}

.Join_join_input_gender_btn__7FWO7:before {
    content: none!important
}

.Join_fourth__lswKD {
    flex: 1 1;
    display: flex
}

.Join_join_policy__IdXYf {
    border-radius: 10px;
    background-color: #f4f7f8;
    flex: 3 1;
    margin-right: 10px
}

.Join_join_policy_top__g9TId {
    background-color: #efefef;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px
}

.Join_join_sns__C85RB {
    flex: 1 1
}

.Join_join_sns_inner__x7LnN {
    flex: 1 1;
    display: flex;
    margin-left: 10px;
    flex-direction: column
}

.Join_join_sns_each__57trh {
    margin-bottom: 10px;
    flex: 1 1
}

.Join_join_input_password_icon__0meu_ {
    margin-left: 15px;
    width: 14px!important;
    height: 18px!important
}

.Join_join_input_email_icon__F2DMU {
    margin-left: 14px;
    width: 18px!important;
    height: 18px!important
}

.Join_join_input_human_icon__kkJsp {
    margin-left: 15px;
    width: 14px!important;
    height: 18px!important
}

.Join_join_policy_box__96l5f {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #000
}

.Join_join_policy_box_each__LlD9A {
    margin: 10px
}

.Join_join_policy_box_check__Lr_rm {
    flex: 1 1;
    text-align: center
}

.Join_join_policy_box_text__BLN99 {
    flex: 5 1;
    text-align: left
}

.Join_join_policy_box_view__LGIBA {
    flex: 5 1;
    text-align: right
}

.Join_join_policy_box_ctl1__qaR3U {
    flex: 1 1;
    text-align: center;
    color: #99d3e9!important
}

.Join_join_policy_box_ctl2__6__bq {
    flex: 1 1;
    text-align: center
}

.Join_join_header__zOVGI {
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 100px;
    font-family: Noto Sans KR;
    font-size: 26px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #000
}

.Join_join_btn__JIlSg {
    margin-top: 20px!important;
    background-color: #99d3e9!important;
    font-family: Noto Sans KR!important;
    font-size: 18px!important;
    font-weight: 900!important;
    font-stretch: normal!important;
    font-style: normal!important;
    line-height: 1.67!important;
    letter-spacing: normal!important;
    text-align: center!important;
    color: #fff!important
}

.Join_join_btn__JIlSg,.Join_join_google_btn__40Mqq {
    padding: 15px 20px 20px!important;
    border-radius: 30px!important;
    height: 60px!important
}

.Join_join_google_btn__40Mqq {
    background-color: #c6c6c6!important
}

.Join_join_naver_btn__BEEmI {
    padding: 15px 20px 20px!important;
    height: 60px!important;
    border-radius: 30px!important;
    background-color: #00bf18!important;
    box-shadow: 0 2px 0 rgb(0 0 0/2%)
}

.Join_join_naver_btn__BEEmI img {
    width: 100%;
    height: 30px
}

.Join_join_naver_btn__BEEmI:hover {
    border: 1px solid #4096ff
}

.Join_join_kakao_btn__w6cVN {
    padding: 15px 20px 20px!important;
    height: 60px!important;
    border-radius: 30px!important;
    background-color: #f9e000!important
}

.Join_join_input_email__1beiw,.Join_join_input_password__Jle0P {
    margin-bottom: 20px
}

.Join_flex__vvIdW {
    display: flex;
    justify-content: center
}

.Join_left__pQMG3 {
    text-align: left
}

.Join_icon__pEIAB {
    width: 50px;
    text-align: center
}

.Join_text__UJsEl {
    font-size: 12px;
    font-weight: 900;
    color: #fff;
    align-self: center;
    height: 23px;
    vertical-align: baseline;
    padding-top: 3px
}

.Join_all_check__Kxicg {
    font-size: 18px;
    font-weight: 900
}

.Header_component__ziZB_ {
    position: absolute;
    top: 0;
    z-index: 100;
    display: flex;
    right: 0
}

.Header_title__UlymB {
    flex: 1 1;
    justify-content: flex-start;
    display: flex
}

.Header_mypage_space__YZkSg {
    flex: 1 1;
    justify-content: flex-end;
    display: flex
}

.Header_mypage__e1pl_ {
    display: flex!important;
    flex-direction: row
}

.Header_mypage_btn1__lqtZ5 {
    margin-right: 10px;
    padding: 10px 20px 10px 40px!important
}

.Header_mypage_btn1__lqtZ5,.Header_mypage_btn2__vO5OQ {
    margin-top: 60px;
    border-radius: 30px!important;
    background-color: #97d4e9!important;
    display: flex!important;
    flex-direction: row;
    width: 160px;
    height: 60px!important;
    font-size: 18px!important;
    font-family: Noto Sans KR;
    font-weight: 900!important;
    font-stretch: normal!important;
    font-style: normal!important;
    line-height: 2!important;
    letter-spacing: normal!important;
    color: #fff!important;
    box-shadow: 2.5px 4.3px 30px 0 rgba(17,151,201,.2)!important;
    justify-content: space-between
}

.Header_mypage_btn2__vO5OQ {
    margin-right: 60px;
    padding: 10px 20px 10px 30px!important
}

.Header_input_normal__b_erJ {
    border-radius: 30px;
    width: 250px;
    padding: 10px 20px;
    font-size: 18px
}

.Header_controls__YkS0e,.Header_input_normal__b_erJ {
    justify-content: center;
    align-self: center;
    display: flex;
    font-family: Noto Sans KR;
    color: #000
}

.Header_controls__YkS0e {
    font-size: 14px;
    height: 40px
}

.Header_submit_btn__WFBll {
    padding: 10px 20px;
    border-radius: 30px;
    width: 250px;
    overflow: hidden;
    height: 50px!important
}

.Header_icon_btn__Cb_4D {
    height: 50px
}

.Header_icon_btn__Cb_4D:hover {
    background-color: transparent!important;
    border-color: transparent!important
}

.Header_flex__4xMHp {
    display: flex
}

.Global_button__iJeUH {
    border-color: #97d4e9!important;
    color: #fff!important
}

.Global_button__iJeUH:hover {
    color: #fff!important
}

.Global_button_close__t_N9z,.Global_button_close__t_N9z:hover {
    border: 1px solid #e6e6e6!important
}

.Global_button_close__t_N9z:hover {
    color: #000!important
}

.Popup_container_wrapper__piqWQ {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000!important;
    background-color: rgba(0,0,0,.9)
}

.Popup_container__bPw6X {
    width: 600px;
    height: 400px;
    background-color: #fff;
    border-radius: 30px;
    flex: 1 1;
    flex-direction: column;
    justify-content: center
}

.Popup_head__XwP0P {
    height: 150px;
    padding-top: 30px;
    justify-content: center;
    display: flex
}

.Popup_head__XwP0P>.Popup_icon__NeZ9N {
    width: 100px;
    height: 100px;
    align-self: center;
    background-color: #99d3e9;
    border-radius: 50px;
    justify-content: center;
    margin-top: 30px
}

.Popup_desc__Xfbck {
    display: flex;
    height: 150px;
    justify-content: center
}

.Popup_desc__Xfbck>.Popup_content__tUWkd {
    max-width: 400px;
    font-size: 26px;
    font-weight: 900;
    align-self: center;
    padding-bottom: 20px
}

.Popup_control__K_Nqc {
    display: flex;
    justify-content: center
}

.Popup_control__K_Nqc>.Popup_cancel__92SCY {
    background-color: #e6e6e6;
    margin-right: 20px
}

.Popup_control__K_Nqc>.Popup_cancel__92SCY,.Popup_control__K_Nqc>.Popup_confirm__ZRi9l {
    border-radius: 30px;
    font-size: 18px;
    font-weight: 900;
    width: 220px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer
}

.Popup_control__K_Nqc>.Popup_confirm__ZRi9l {
    background-color: #99d3e9;
    color: #fff
}
