@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);body,html {
    padding: 0;
    margin: 0;
    background-color: #fafeff !important;
    font-family: Noto Sans KR,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

* {
    font-family: Noto Sans KR
}

body,body>div:first-child,div#__next,div#__next>div,html {
    height: 100%
}

a,a:hover,a:visited {
    text-decoration: none
}

* {
    box-sizing: border-box
}

@font-face {
    font-family: Gotham;
    src: url(/fonts/Gotham-Black.otf);
    format:("otf");font-display: swap
}

@font-face {
    font-family: Gotham Black;
    src: url(/fonts/Gotham-Black.otf);
    format:("otf")}

input:hover {
    border-color: #00aeef !important
}

ul {
    margin-bottom: 0!important
}

body,html {
    width: 100%;
    height: 100%
}

input::-ms-clear,input::-ms-reveal {
    display: none
}

*,:after,:before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

@-ms-viewport {
    width: device-width
}

body {
    margin: 0
}

[tabindex="-1"]:focus {
    outline: none
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 500
}

p {
    margin-top: 0;
    margin-bottom: 1em
}

abbr[data-original-title],abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline;
    text-decoration: underline dotted;
    border-bottom: 0;
    cursor: help
}

address {
    margin-bottom: 1em;
    font-style: normal;
    line-height: inherit
}

input[type=number],input[type=password],input[type=text],textarea {
    -webkit-appearance: none
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1em
}

ol ol,ol ul,ul ol,ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 500
}

dd {
    margin-bottom: .5em;
    margin-left: 0
}

blockquote {
    margin: 0 0 1em
}

dfn {
    font-style: italic
}

b,strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

code,kbd,pre,samp {
    font-size: 1em;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace
}

pre {
    margin-top: 0;
    margin-bottom: 1em;
    overflow: auto
}

figure {
    margin: 0 0 1em
}

img {
    vertical-align: middle;
    border-style: none
}

[role=button],a,area,button,input:not([type=range]),label,select,summary,textarea {
    touch-action: manipulation
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75em;
    padding-bottom: .3em;
    text-align: left;
    caption-side: bottom
}

button,input,optgroup,select,textarea {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=date],input[type=datetime-local],input[type=month],input[type=time] {
    -webkit-appearance: listbox
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: .5em;
    padding: 0;
    color: inherit;
    font-size: 1.5em;
    line-height: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none!important
}

mark {
    padding: .2em;
    background-color: #feffe6
}

.Menu_container {
    height: 50px;
    margin-top: 50px;
    margin-bottom: 30px
}

.Menu_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px
}

.Menu_list > li {
    font-family: Noto Sans KR;
    font-size: 26px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    width: 25%
}

.MyPage_basic_input_row {
    display: flex;
    margin-bottom: 20px
}

.MyPage_basic_input_title {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    align-self: center;
    text-align: left;
    flex: 0 1;
    width: 150px;
    min-width: 150px;
    color: #4f5254;
}

.MyPage_basic_input_content {
    display: flex;
    flex: 3 1;
    margin-right: 20px
}

.MyPage_basic_input {
    height: 60px;
    border-radius: 30px;
    border: 1px solid #00aeef;
    padding-left: 30px
}

.MyPage_basic_btn {
    height: 60px;
    border-radius: 30px;
    background-color: #00aeef;
    color: #fafeff;
    margin: 5px;
    padding: 5px;
    border: 1px solid transparent;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal
}

.MyPage_basic_btn:hover {
    color: #fafeff !important;
    border-color: #00aeef !important
}

.MyPage_btn_right {
    float: right;
    margin: 0 10px;
    padding: 10px;
}

.MyPage_basic_red a {
    color: red
}

.MyPage_basic_red a:hover {
    color: red!important
}
