<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<select id="selectList" resultType="FpAdminVo">
	SELECT * FROM ADMIN
	</select>
	
	<select id="selectOne" resultType="FpAdminVo" parameterType="string">
		SELECT ADMINID, ADMINPWD, ADMINNAME, ADMINEMAIL FROM ADMIN
		WHERE ADMINID=#{adminId}
	</select>
	
	<insert id="insert" parameterType="FpAdminVo">
		INSERT INTO ADMIN
		VALUES (#{adminId}, #{adminPwd}, #{adminName}, #{adminEmail})
	</insert>
	
	<update id="update" parameterType="FpAdminVo">
		UPDATE ADMIN SET ADMINID=#{adminId}, ADMINPWD=#{adminPwd}, ADMINNAME=#{adminName}, ADMINEMAIL=#{adminEmail}
	</update>
	
	<delete id="delete" parameterType="string">
		DELETE FROM ADMIN WHERE ADMINID=#{adminId}
	</delete>

</mapper>
