<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
<sql id="criteria">
		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'I'.toString()">
							member_id like '%'||#{keyword}||'%' 
						</when>
						<when test="type == 'T'.toString()">
							board_title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							board_content like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	<select id="selectList" resultType="FpBoardVo">
		<![CDATA[
			select rownum, board_no, member_id, board_title , board_content, board_date, board_count, bstep, blevel 
			from (select rownum as rn, board_no, member_id, board_title, board_content, board_date, board_count, bstep, blevel from board 
			where rownum <= #{pageNum} * #{amount}
		]]>
		<if test="keyword != null">
			<include refid="criteria"></include> 
		</if>
		<![CDATA[        
		    )
		where rn > (#{pageNum} -1) * #{amount}
		]]>
		order by board_no desc
	</select>
	
	<select id="getTotalBoard" resultType="_int">
		select count(*) from board 
		<if test="keyword != null">
			 where rownum > 0 <include refid="criteria"></include>
		</if>
	</select>

	<select id="selectOne" resultType="FpBoardVo"
		parameterType="_int">
		select * from board where board_no=#{boardNo}
	</select>
	<select id="selectOneJoinReply" resultType="FpBoardVo"
		parameterType="_int">
		select * from board b  join replyboard r on b.select_reply_no=r.reply_no where b.board_no=#{boardNo}
	</select>

	<insert id="insert" parameterType="FpBoardVo">
		insert into board (board_no,
		member_id,Board_title,board_content,board_date,board_count) values
		(board_no_seq.NEXTVAL,#{memberId},#{boardTitle},#{boardContent},sysdate,0)
	</insert>
	<!-- insert into board (board_no, member_id, Board_title,board_content,board_date) 
		values(board_no_seq.NEXTVAL, #{memberId},#{boardTitle},#{boardContent},#{boardDate},0 
		, , , ) -->
	<update id="update" parameterType="FpBoardVo">
		update board set member_Id =
		#{memberId},board_Title =
		#{boardTitle},board_Content =
		#{boardContent},
		board_Date = sysdate
		where board_no = #{boardNo}
	</update>
	<update id="plusCount" parameterType="FpBoardVo">
		update board set
		board_Count = #{boardCount}+1
		where board_no = #{boardNo}
	</update>
	<update id="selectReply" parameterType="FpBoardVo">
		update board set
		select_Reply_No = #{selectReplyNo}
		where board_no = #{boardNo}
	</update>
	<delete id="delete" parameterType="_int">
		delete from board where
		board_No = #{boardNo}
	</delete>
</mapper>
