<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="daydiet">
  
  <select id="selectList" resultType="FpDayDietVo">
		select * from daydiet
	</select>
	
	<select id="selectOne" resultType="FpDayDietVo" parameterType="_int">
	select * from  where dayDietCode=#{dayDietCode}
	</select>
	
	<insert id="insert" parameterType="FpDayDietVo">
	insert into daydiet values(#{dayDietCode}, #{memberId},#{foodDate},#{feedback})
	</insert>
	
	<update id="update" parameterType="FpDayDietVo">
	update daydiet set memberId = #{memberId},foodDate = #{foodDate}, feedback=#{feedback}
	where dayDietCode = #{dayDietCode}
	</update>
	
	<delete id="delete" parameterType="_int">
	delete from daydiet where dayDietCode = #{dayDietCode}
	</delete>
</mapper>
