<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="diet">

	<select id="selectList" parameterType="FpDietVo" resultType="FpDietVo">
	<![CDATA[
		SELECT 
		       a.meal_code  
		     , a.member_id
		     , a.food_date
		     , a.food_time
		     , b.FOOD_GP
		     , b.food_cd
		     , b.meal_code
		     , b.FOOD_QUANTITY
		     , c.food_name
		     , c.calorie
		     , c.crabs
		     , c.protein
		     , c.fat
		       FROM 
		       diet a
		     , FOOD b
		     , FOOD_APi c
		 WHERE a.meal_code = b.meal_code
		   AND b.food_cd = c.food_cd
		   AND a.member_id = #{memberId}
		   AND a.food_Date = #{foodDate}
		   ]]>
		   <if test="foodTime != null and foodTime != '' and foodTime != 'ALL'">
   			 AND a.food_time = #{foodTime}
			</if>
		   ORDER BY a.food_time asc, b.FOOD_GP desc 
	</select>
	
	<select id = "totalSelectList" parameterType="FpDietVo" resultType="TotalFoodListDTO">
	   SELECT 
	        sum(c.calorie*b.food_quantity) as total_cal
	      , sum(c.crabs*b.food_quantity) as total_crabs
	      , sum(c.protein*b.food_quantity) as total_protein
	      , sum(fat*b.food_quantity) as total_fat
       FROM 
	        diet a
	      , FOOD b
	      , FOOD_APi c
	  WHERE a.meal_code = b.meal_code
	    AND b.food_cd = c.food_cd
	    AND a.member_id = #{memberId}
	    AND a.food_Date = #{foodDate}
       <if test="foodTime != null and foodTime != '' and foodTime != 'ALL'">
   	   AND a.food_time = #{foodTime}
   	   GROUP BY a.food_time
	   </if>
      </select>

	
<!-- 	<select id="selectSearchList" parameterType="string" resultType="FpFoodApiVo">
	<bind name="foodName" value="'%'+foodName+'%'"/>
	SELECT * FROM food_api where food_name like #{foodName}
	</select>  -->
	
	
	<select id="selectDayList" resultType="FpDietVo" parameterType="string">
		<bind name="mealCode" value="'%'+mealCode+'%'"/>
		select * from diet where meal_Code like #{mealCode}
	</select>
	
	<select id="selectOne" resultType="FpDietVo" parameterType="string">
	select * from  where MEAL_CODE=#{mealCode}
	</select>
	
	<insert id="insert" parameterType="FpDietVo">
	
	
	insert into diet
	(
	  meal_code
	, member_id
	, food_date
	, food_time
	)
	SELECT 
	
	   #{mealCode, jdbcType=VARCHAR}
    	, #{memberId, jdbcType=VARCHAR}
     	, #{foodDate, jdbcType=VARCHAR}
     	, #{foodTime, jdbcType=VARCHAR}
 
	 FROM DUAL
     WHERE NOT EXISTS (
    SELECT 1 FROM diet WHERE meal_code = #{mealCode, jdbcType=VARCHAR}
    )
  
	</insert>
	
	<update id="update" parameterType="FpDietVo">
		update diet set foodQuantity = #{foodQuantity}
		where MEAL_CODE = #{mealCode}
	</update>
	
	<delete id="delete" parameterType="string">
		delete from diet where meal_code = #{mealCode}
	</delete>
</mapper>
