<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="diet">

	<select id="selectList" resultType="FpDietVo">
		select * from diet
	</select>
	
	<select id="selectOne" resultType="FpDietVo" parameterType="string">
	select * from  where mealCode=#{mealCode}
	</select>
	
	<insert id="insert" parameterType="FpDietVo">
	insert into diet values(#{mealCode}, #{memberId},#{foodDate},#{foodTime}, #{feedback})
	</insert>
	
	<update id="update" parameterType="FpDietVo">
		update diet set feedback = #{feedback}
		where meal_code = #{mealCode}
	</update>
	
	<delete id="delete" parameterType="string">
	delete from diet where mealCode = #{mealCode}
	</delete>
</mapper>
