<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="exercise">
	<select id="selectList" resultType="FpExerciseVo">
		select * from aca_student
	</select>
	<select id="selectOne " resultType="FpExerciseVo" parameterType="string">
		SELECT EXERCISENAME, PART, EPOSE, EPOSELINK FROM EXERCISE
		WHERE EXERCISENAME=#{exerciseName}
	</select>
	<insert id="insert" parameterType="FpExerciseVo">
		INSERT INTO EXERCISE
		VALUES (#{exerciseName}, #{part}, #{epose}, #{eposeLink})	
	</insert>
	<update id="update" parameterType="FpExerciseVo">
		update exercise set EXERCISENAME=#{exerciseName}, PART=#{part}, EPOSE=#{epose}, EPOSELINK=#{eposeLink}
	</update>
	<delete id="delete" parameterType="FpExerciseVo">
		DELETE FROM EXERCISE WHERE EXERCISENAME=#{exerciseName}
	</delete>
</mapper>
