<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="food">

 <select id="selectList" resultType="FpFoodVo">
		select * from food
	</select>
	
	<select id="selectOne" resultType="FpFoodVo" parameterType="string">
	select * from food where foodCd=#{foodCd}
	</select>
	
	<select id="mealCodeCheck" resultType="string" parameterType="string">
		select meal_code from food where meal_code=#{mealCode}
	</select>
	
	<insert id="insert" parameterType="FpFoodVo">
		insert into food
		(
		  food_cd
		, meal_code
		, food_quality
		, food_gp
		) 
		values
		(
		  #{foodCd}
		, #{mealCode}
		, ${foodQuality}
		, (SELECT NVL(max(food_gp),0)+1 as food_gp FROM food)
		)
	</insert>
	
	<update id="update" parameterType="FpFoodVo">
		update food set food_quality=#{foodQuality}
		where meal_code = #{mealCode}
	</update>
	
	<select id="mealCodeSearch" parameterType="_int" resultType="string">
		select meal_code from food
		join diet using (meal_code)
		where food_gp = #{foodGp}
	</select>
	
	<delete id="delete" parameterType="string">
		delete from food where meal_code = #{mealCode}
	</delete>
</mapper>
