<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kh.project.dml.MemberMapper">

	<select id="selectList" resultType="FpMemberVo">
		select * from member
	</select>
	
	<select id="mypage" parameterType="string" resultType="FpMemberVo">
		select * from member
		where member_id = #{memberId}
	</select>
	
	<update id="update" parameterType="FpMemberVo">
		update member set mname=#{mname}, height=#{height}, weight=#{weight}
		where member_id = #{memberId}
	</update>
	
	<delete id="deleteMember" parameterType="string">
		delete from member
		where member_id = #{username}
	</delete>
	<delete id="deleteUser" parameterType="string">
		delete from users
		where username = #{username}
	</delete>
	
	<select id="checkId" parameterType="string" resultType="string">
        select member_id from member where member_id = #{memberId}
	</select>
	
    <select id="login" resultType="FpUsersVo">
        select * from users where username = #{username} and password = #{password}
    </select>
    
    <select id="normallogin" parameterType="string" resultType="FpUsersVo">
        SELECT * FROM users WHERE username = #{username}
    </select>
    
    <update id="keepLogin" parameterType="map">
        update member set sessionkey = #{sessionkey}, sessionlimit = #{sessionlimit}
         where member_id = #{memberId}
    </update>
    
    <select id="checkSession" parameterType="string" resultType="string">
        SELECT * FROM member WHERE sessionkey = #{sessionId}
    </select>
    
    <select id="checkLoginBefore" resultType="FpMemberVo">
        select * from member
         where sessionkey = #{loginCookie}
           and sessionlimit > now()
    </select>
    
    <select id="getBySnsNaver" resultType="FpMemberVo">
        select * from member where naverid = #{naverid}
    </select>
    
    <select id="getBySnsGoogle" resultType="FpMemberVo">
        select * from member where googleid = #{googleid}
    </select>
    
    <select id="getBySnsKakao" resultType="FpMemberVo">
        select * from member where kakaoid = #{kakaoid}
    </select>
</mapper>
