<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberweight">
	<select id="selectList" resultType="FpMemberWeightVo">
		select * from member_weight
	</select>
<!-- 		private String userId;
	private Date date;
	private int weight;
	private int muscleMass;
	private int bodyFatPet;
 -->
	<select id="selectOne" resultType="FpMemberWeightVo" parameterType="string">
		SELECT USERID, DATE, WEIGHT, MUSCLEMASS, BODYFATPET FROM MEMBER_WEIGHT
		WHERE USERID=#{userId} 
	</select>
	
	<select id="checkDate" resultType="FpMemberWeightVo" parameterType="FpMemberWeightVo">
		SELECT member_id, weight_date FROM MEMBER_WEIGHT
		WHERE member_id=#{memberId} and weight_date=#{weightDate}
	</select>
	
	<insert id="insertWeight" parameterType="FpMemberWeightVo">
		INSERT INTO MEMBER_WEIGHT (weight_num, member_id, weight_date, weight)
		VALUES (2, #{memberId}, #{weightDate}, #{weight})
	</insert>
	
	<update id="updateWeight" parameterType="FpMemberWeightVo">
		UPDATE MEMBER_WEIGHT SET WEIGHT=#{weight}
		WHERE member_id=#{memberId} and weight_date=#{weightDate}
	</update>
	
	<update id="updateWeightMember" parameterType="FpMemberWeightVo">
		UPDATE MEMBER SET WEIGHT=#{weight}
		WHERE member_id=#{memberId}
	</update>
	
	<insert id="insert" parameterType="FpMemberWeightVo">
		INSERT INTO MEMBER_WEIGHT 
		VALUES (#{userId}, #{date}, #{weight}, #{muscleMass}, #{bodyFatPet})
	</insert>
	
	
	<delete id="delete" parameterType="string">
		DELETE FROM MEMBER_WEIGHT WHERE USERID=#{userId}
	</delete>
	
</mapper>
