<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberExSet">
	<select id="selectList" resultType="FpMemberExSetVo">
		select * from member_ex_set
	</select>

	<select id="selectOne" resultType="FpMemberExSetVo" parameterType="string">
		SELECT MEMBERID, ECODE, EXNAME, EXERCISESET, EXERCISENUMBER FROM MEMBER_EX_SET
		WHERE MEMBERID=#{memberId}
	</select>
	
	<insert id="insert" parameterType="FpMemberExSetVo">
		INSERT INTO MEMBER_EX_SET
		VALUES ( #{calendarNo}||#{memberId}||#{ecode} , #{memberId},#{ecode}, #{exName}, #{exerciseSet}, #{exerciseNumber},#{calendarNo})
	</insert>
	
	<update id="update" parameterType="FpMemberExSetVo">
		UPDATE MEMBER_EX_SET SET MEMBERID=#{memberId}, ECODE=#{ecode} EXNAME=#{exName}, EXERCISESET=#{exerciseSet}, EXERCISENUMBER=#{exerciseNumber}
	</update>
	
	<delete id="delete" parameterType="string">
		DELETE FROM MEMBER_EX_SET WHERE MEMBERID=#{memberId}
	</delete>
</mapper>
