<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kh.project.dml.MemberMapper">
	
	<!-- 멤버 리스트 전체 검색(미사용) -->
	<select id="selectList" resultType="FpMemberVo">
		select * from member
	</select>
	
	<!-- 특정 계정 멤버 정보 검색 -->
	<select id="info" parameterType="string" resultType="FpMemberVo">
		select m.*, authorities from member m
		join users u on m.member_id = u.username
		where member_id = #{memberId}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="idSearch" parameterType="map" resultType="FpMemberVo">
		select m.*, authorities from member m
		join users u on m.member_id = u.username
		where mname=#{name} and mbirthday=#{birthday} and authorities='ROLE_MEMBER'
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="pwdSearch" parameterType="map" resultType="FpMemberVo">
		select m.*, authorities from member m
		join users u on m.member_id = u.username
		where member_id = #{username} and mname=#{name} and mbirthday=#{birthday}
	</select>
	
	<insert id="createAuthKey">
		insert into MEMBER_AUTH values(#{memberId}, #{authKey})
	</insert>
	
	<!-- 회원가입 메일 인증 -->
	<update id="memberAuth" parameterType="map">
		<![CDATA[
		update member set MEMBER_AUTH = 1 
		where member_id=#{memberId} and ((select count(*) from MEMBER_AUTH where MEMBER_ID = #{memberId} and AUTHKEY = #{key}) > 0)
		]]>
	</update>
	<update id="usersAuth" parameterType="map">
		<![CDATA[
		update USERS set MEMBER_AUTH = 1 
		where username=#{username} and ((select count(*) from MEMBER_AUTH where MEMBER_ID = #{memberId} and AUTHKEY = #{key}) > 0)
		]]>
	</update>
	
	<!-- 회원가입 메일 인증 키 삭제 -->
	<delete id="memberAuthDelete" parameterType="string">
		delete from member_auth
		where member_id = #{memberId}
	</delete>
	
	<!-- 패스워드 재설정 메일 인증 -->
	<select id="pwdAuth" parameterType="map" resultType="string">
		select member_id from MEMBER_AUTH where MEMBER_ID = #{memberId} and AUTHKEY = #{key}
	</select>
	
	<!-- 패스워드 재설정 메일 인증 키 삭제-->
	<delete id="pwdAuthDelete" parameterType="string">
		delete from member_auth
		where member_id = #{memberId}
	</delete>
	
	<!-- 비밀번호 변경 -->
	<update id="pwdChange" parameterType="map">
		update users set password=#{password}
		where username = #{username}
	</update>
	
	<!-- 마이페이지 업데이트 -->
	<update id="update" parameterType="FpMemberVo">
		update member set mname=#{mname}, height=#{height}, weight=#{weight}
		where member_id = #{memberId}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteMember" parameterType="string">
		delete from member
		where member_id = #{username}
	</delete>
	<delete id="deleteUser" parameterType="string">
		delete from users
		where username = #{username}
	</delete>
	
	<!-- 계정 체크 -->
	<select id="checkId" parameterType="string" resultType="string">
        select member_id from member where member_id = #{memberId}
	</select>
	
	<!-- 로그인 -->
    <select id="login" resultType="FpUsersVo">
        select * from users 
        where username = #{username} and password = #{password}
    </select>
    
    <!-- 일반 로그인 -->
    <select id="normallogin" parameterType="string" resultType="FpUsersVo">
        SELECT * FROM users WHERE username = #{username}
    </select>
    
    <!-- 세션값 저장 -->
    <update id="keepLogin" parameterType="map">
        update member set sessionkey = #{sessionkey}, sessionlimit = #{sessionlimit}
		where member_id = #{memberId}
    </update>
	
    <!-- 쿠키에 저장된 세션키 비교 -->
    <select id="checkLoginBefore" resultType="FpMemberVo">
		select m.*, authorities from member m
		join users u on m.member_id = u.username
		where sessionkey = #{loginCookie}
		AND TO_TIMESTAMP(sessionlimit, 'RR/MM/DD HH24:MI:SS.FF9') > SYSTIMESTAMP
    </select>
    
    <!-- 네이버 계정 확인 -->
    <select id="getBySnsNaver" resultType="FpMemberVo">
        select m.*, authorities from member m
		join users u on m.member_id = u.username
		where naverid = #{naverid}
    </select>
    
    <!-- 구글 계정 확인 -->
    <select id="getBySnsGoogle" resultType="FpMemberVo">
        select m.*, authorities from member m
		join users u on m.member_id = u.username
		where googleid = #{googleid}
    </select>
    
    <!-- 카카오 계정 확인 -->
    <select id="getBySnsKakao" resultType="FpMemberVo">
        select m.*, authorities from member m
		join users u on m.member_id = u.username
		where kakaoid = #{kakaoid}
    </select>
    
    <!-- 평판 증가 -->
    <update id="plusreputation" parameterType="_int">
		 update member set reputation=(select reputation from member where member_id=(select member_id from replyboard where reply_no=#{replyNo}))+1 where member_id=(select member_id from replyboard where reply_no=#{replyNo})
    </update>
    
    <select id="memberReputation" resultType="FpMemberVo">
	select * from member order by REPUTATION desc;
	</select>
</mapper>
