<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberExSet">
	<select id="selectList" resultType="FpMemberExSetVo" parameterType="string" >
 		<bind name="dayExSet" value="'%'+dayExSet+'%'"/>
		select * from member_ex_set where day_Ex_Set like #{dayExSet}
	</select>

	<select id="selectOne" resultType="FpMemberExSetVo" parameterType="string">
		SELECT MEMBERID, ECODE, EXNAME, EXERCISESET, EXERCISENUMBER FROM MEMBER_EX_SET
		WHERE MEMBERID=#{memberId}
	</select>
	
	<insert id="insert" parameterType="FpMemberExSetVo">
		
		INSERT INTO MEMBER_EX_SET
		VALUES ( #{exerciseDate}||#{memberId}||#{ecode} , #{exerciseDate},#{memberId},#{ecode}, #{exName}, #{exerciseSet}, #{exerciseNumber},#{exerciseWeight})
	</insert>
	
	<update id="update" parameterType="FpMemberExSetVo">
		UPDATE MEMBER_EX_SET SET EXERCISEWEIGHT=#{exerciseWeight}, EXERCISESET=#{exerciseSet}, EXERCISENUMBER=#{exerciseNumber} WHERE DAY_EX_SET=#{dayExSet}
	</update>
	
	<delete id="delete" parameterType="string">
		DELETE FROM MEMBER_EX_SET WHERE day_Ex_Set=#{dayExSet}
	</delete>
</mapper>
