<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberweight">
	<select id="selectList" resultType="FpMemberWeightVo">
		select * from member_weight
	</select>
<!-- 		private String userId;
	private Date date;
	private int weight;
	private int muscleMass;
	private int bodyFatPet;
 -->
 	<select id="selectOne1" resultType="FpMemberWeightVo" parameterType="string">
		SELECT USERID, DATE, WEIGHT, MUSCLEMASS, BODYFATPET FROM MEMBER_WEIGHT
		WHERE MUSCLE_MASS=#{muscleMass}  AND BODY_FAT_PET=#{bodyFatPet}
	</select> 
 
 
 
	<select id="selectOne" resultType="FpMemberWeightVo" parameterType="string">
		SELECT MEMBER_ID, WEIGHT_DATE, WEIGHT, MUSCLE_MASS, BODY_FAT_PET FROM MEMBER_WEIGHT
		WHERE MEMBER_ID=#{memberId} 
	</select>
	
	<select id="checkDate" resultType="FpMemberWeightVo" parameterType="FpMemberWeightVo">
		SELECT member_id, weight_date FROM MEMBER_WEIGHT
		WHERE member_id=#{memberId} and weight_date=#{weightDate}
	</select>
	
	<!--체중입력  -->
	<insert id="insertWeight" parameterType="FpMemberWeightVo">
		insert into member_weight (WEIGHT_DATE,MEMBER_ID, WEIGHT) values 
    	( #{weightDate} , #{memberId}, #{weight})
	</insert>
	
	
	<update id="updateWeight" parameterType="FpMemberWeightVo">
		UPDATE MEMBER_WEIGHT 
		SET WEIGHT=#{weight}
		WHERE member_id=#{memberId} and weight_date=#{weightDate}
	</update>
	
	<update id="updateWeightMember" parameterType="FpMemberWeightVo">
		UPDATE MEMBER SET WEIGHT=#{weight}
		WHERE member_id=#{memberId}
	</update>
	
	<!-- 근육량/ 체지방량 입력 -->
	<insert id="insert" parameterType="FpMemberWeightVo">
		insert into member_weight (WEIGHT_DATE,MEMBER_ID, MUSCLE_MASS, BODY_FAT_PET) 
		values ( #{weightDate}, #{memberId}, #{muscleMass}, #{bodyFatPet})
	</insert>	
	
	<update id="update" parameterType="FpMemberWeightVo">
		UPDATE MEMBER_WEIGHT
	    SET MUSCLE_MASS=#{muscleMass}, BODY_FAT_PET=#{bodyFatPet}
		WHERE member_id=#{memberId} and weight_date=#{weightDate}
	</update>
	
	<!--근육량 / 체지방량 삭제 -->
	
	
		<delete id="delete" parameterType="map">
		delete from MEMBER_WEIGHT where weight_date = #{weightDate}	and member_id=#{memberId}
		</delete>
	
	
	<!--delete  -->
	<update id="deleteWeight" parameterType="map" >
		UPDATE MEMBER_WEIGHT SET WEIGHT=''
		WHERE member_id=#{memberId} AND weight_date=#{weightDate}
	</update>
	
</mapper>
