<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
	<select id="selectList" resultType="FpNoticeVo">
		select notice_no, admin_id, notice_title, notice_content,
		 notice_date, notice_view from notice order by notice_no asc
	</select>

	<select id="selectOne" resultType="FpNoticeVo"
		parameterType="_int">
		SELECT * from notice
		WHERE notice_no=#{noticeNo}
	</select>

	<insert id="insert" parameterType="FpNoticeVo">
		insert into notice (notice_no, admin_id, notice_title,
		notice_content,notice_date,notice_view ) values
		(notice_no_seq.NEXTVAL,#{adminId},#{noticeTitle},#{noticeContent},sysdate,0)
		<!-- INSERT INTO NOTICE VALUES (#{noticeNo}, #{adminId}, #{noticeCategory}, 
			#{noticeTitle}, #{noticeContent}, #{noticeView}, #{noticeDate}) -->
	</insert>

	<update id="update" parameterType="FpNoticeVo">
		UPDATE NOTICE SET notice_no=#{noticeNo}, admin_id=#{adminId},
		notice_title=#{noticeTitle}, notice_content=#{noticeContent},  notice_date= sysdate, notice_view=#{noticeView}
		where notice_no = #{noticeNo}
	</update>
	
	<update id="updateViewCount" parameterType="_int">
	UPDATE NOTICE SET notice_view = notice_view+1
	where notice_no = #{noticeNo}
	</update>

	<delete id="delete" parameterType="_int">
		DELETE FROM NOTICE WHERE notice_no=#{noticeNo}
	</delete>

</mapper>
