<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="suplement">

<select id="selectList" resultType="FpSuplementVo">
		select * from suplement
	</select>
	
	<select id="selectOne" resultType="FpSuplementVo" parameterType="_int">
	select * from suplement  where suplemenno=#{suplemenno}
	</select>
	
	<insert id="insert" parameterType="FpSuplementVo">
	insert into suplement values(#{suplemenno}, #{link},#{nutrientId})
	</insert>
	
	<update id="update" parameterType="FpSuplementVo">
	update suplement set suplemenno = #{suplemenno},
	link = #{link} , nutrientId = #{nutrientId}
	where suplemenno = #{suplemenno}
	</update>
	
	<delete id="delete" parameterType="_int">
	delete from suplement where suplemenno = #{suplemenno}
	</delete>
  
</mapper>
