<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="suplemenid">

<select id="selectList" resultType="FpSuplemenIdVo">
		select * from suplmenid
	</select>
	
	<select id="selectOne" resultType="FpSuplemenIdVo" parameterType="_int">
	select * from  where suplemenno=#{suplemenno}
	</select>
	
	<insert id="insert" parameterType="FpSuplemenIdVo">
	insert into suplemenid values(#{suplemenno}, #{link},#{nutrientId})
	</insert>
	
	<update id="update" parameterType="FpSuplemenIdVo">
	update suplemenid set suplemenno = #{suplemenno},
	link = #{link} , nutrientId = #{nutrientId}
	where suplemenno = #{suplemenno}
	</update>
	
	<delete id="delete" parameterType="_int">
	delete from suplemenid where suplemenno = #{suplemenno}
	</delete>
  
</mapper>
