<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
 	<select id="selectList" resultType="FpNoticeVo">
 		select * from notice
 	</select>
 	
 	<select id="selectOne" resultType="FpNoticeVo" parameterType="_int">
 		SELECT NOTICENUMBER, ADMINID, NOTICETITLE, NOTICECONTENT, NOTICEVIEW, NOTICEDATE FROM NOTICE
 		WHERE NOTICENUMBER=#{noticeNumber}
 	</select>
 	
 	<insert id="insert" parameterType="FpNoticeVo">
 		INSERT INTO NOTICE
 		VALUES (#{noticeNumber}, #{adminId}, #{noticeTitle}, #{noticeContent}, #{noticeView}, #{noticeDate})
 	</insert>
 	
 	<update id="update" parameterType="FpNoticeVo">
 		UPDATE NOTICE SET NOTICENUMBER=#{noticeNumber}, ADMINID=#{adminId}, 
 		NOTICETITLE=#{noticeTitle}, NOTICECONTENT=#{noticeContent}, NOTICEVIEW=#{noticeView}, NOTICEDATE=#{noticeDate}
 	</update>
 	
 	<delete id="delete" parameterType="_int">
 		DELETE FROM NOTICE WHERE NOTICENUMBER=#{noticeNumber}
 	</delete>
 
</mapper>
