<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Fitness - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.">
    <meta name="keywords" content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ">
    <title>Fitness-The Gym Club | Bootstrap | Free Responsive Website Templates</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" href="css/animsition.min.css">
    <!-- Font Awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- owl Carousel Css -->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animsition">
    <div class="top-bar">
        <!-- top-bar -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-sm hidden-xs bdr">
                    <div class="time-info">
                        <p class="time-text">Mon - Sat : 6 am-9pm - Sun : 8am-6pm</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 hidden-xs bdr">
                    <div class="call-info">
                        <!-- call-info -->
                        <p class="call-no">+1 (800)-123-456 / 856</p>
                    </div>
                    <!-- /.call-info -->
                </div>
                <div class="col-md-3 col-sm-4 hidden-xs bdr">
                    <div class="mail-info">
                        <p class="mail-text">ghwnswkd123@naver.com</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="top-search">
                        <div class="custom-search-input">
                            <div class="input-group  ">
                                <input type="text" class="  search-query form-control" placeholder="Search">
                                <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                        </span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <div class="header">
            <!-- navigation -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="logo">
                            <a href="index.html"><img src="images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="navigation pull-right" id="navigation">
                            <ul>
                                <li class="active"><a href="index.html" title="Home" class="animsition-link">Home</a></li>
                                <li><a href="classes-list.html" title="Classes" class="animsition-link">체중관리</a>
                                    <ul>
                                        <li><a href="classes-list.html" title="Classes List"></a>체중관리</li>
                                        <li><a href="classes-list.html" title="Classes List"></a>체조성 기록</li>
                                        <li><a href="classes-list.html" title="Classes List"></a>활동 관리</li>
                                        
                                    </ul>
                                </li>
                                <li><a href="blog-default.html" title="Blog" class="animsition-link">식단 관리</a>
                                    <ul>
                                        <li><a href="blog-default.html" title="Blog" class="animsition-link">식단 짜기</a></li>
                                        <li><a href="blog-default.html" title="Blog" class="animsition-link">밀프랩 도우미</a></li>
                                        <li><a href="blog-default.html" title="Blog" class="animsition-link">보충제 활용</a></li>
                                 
                                    </ul>
                                </li>
                                <li><a href="testimonial.html" title="Features" class="animsition-link">운동 도우미</a>
                                    <ul>
                                        <li><a href="testimonial.html" title="Testimonial" class="animsition-link">다이어트 도우미</a></li>
                                        <li><a href="testimonial.html" title="Testimonial" class="animsition-link">바디프로필 도우미</a></li>
                                        <li><a href="testimonial.html" title="Testimonial" class="animsition-link">치팅데이 도우미</a></li>
                                        <li><a href="testimonial.html" title="Testimonial" class="animsition-link">유지어트 도우미</a></li>
                                        <li><a href="testimonial.html" title="Testimonial" class="animsition-link">밴딩/로딩 도우미</a></li>
                                        <li><a href="testimonial.html" title="Testimonial" class="animsition-link">탄수화물 사이클링</a></li>
                                  
                                    </ul>
                                </li>
                                <li><a href="contact.html" title="Contact Us" class="animsition-link">로그인</a> </li>
                                <li><a href="style-guide.html" title="Style Guide" class="animsition-link">회원가입</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="page-caption pinside40">
                        <h1 class="page-title">여기는 차근차근 채워갈 예정</h1>
                        <p>dml은 daily muscle life의 줄임말이다</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block mb30">
                        <div class="post-img">
                            <a href="blog-single.html" class="imghover"><img src="images/blog-1.jpg" class="img-responsive" alt="Fitness Website Template"></a>
                        </div>
                        <div class="post-header">
                            <div class="post-title">
                                <h3><a href="blog-single.html" class="text-white" >여기는 제일 첫번째 칸이다</a></h3>
                            </div>
                            <div class="post-meta"> <span class="meta-date"><i class="icon-primary icon-1x icon-calendar"></i>여기에는 날짜 써주면됨</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block mb30">
                        <div class="post-img">
                            <a href="blog-single.html" class="imghover"><img src="images/blog-2.jpg" class="img-responsive" alt="Fitness Website Template"></a>
                        </div>
                        <div class="post-header">
                            <div class="post-title">
                                <h3><a href="blog-single.html" class="text-white" >여기는 두번째 칸</a></h3>
                            </div>
                            <div class="post-meta"> <span class="meta-date"><i class="icon-primary icon-1x icon-calendar"></i>두번째칸 날짜</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block mb30">
                        <div class="post-img">
                            <a href="blog-single.html" class="imghover"><img src="images/blog-3.jpg" class="img-responsive" alt="Fitness Website Template"></a>
                        </div>
                        <div class="post-header">
                            <div class="post-title">
                                <h3><a href="blog-single.html" class="text-white" >ARE SIX PACK ABS SIGN OF GOOD HEALTH?</a></h3>
                            </div>
                            <div class="post-meta"> <span class="meta-date"><i class="icon-primary icon-1x icon-calendar"></i>28 november, 2017</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block post-gallery mb30">
                        <div class="post-img">
                            <div id="post-gallery" class="owl-carousel">
                                <a href="blog-single.html" class="imghover"><img src="images/blog-1.jpg" class="img-responsive" alt="Fitness Website Template"></a>
                                <a href="blog-single.html" class="imghover"><img src="images/blog-2.jpg" class="img-responsive" alt="Fitness Website Template"></a>
                                <a href="blog-single.html" class="imghover"><img src="images/blog-3.jpg" class="img-responsive" alt="Fitness Website Template"></a>
                            </div>
                        </div>
                    </div>
                    <div class="post-header">
                        <div class="post-title">
                            <h3><a href="blog-single.html" class="text-white" >Give the gift of fitness this holiday</a></h3>
                        </div>
                        <div class="post-meta"> <span class="meta-date"><i class="icon-primary icon-1x icon-calendar"></i>28 november, 2017</span></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block mb30">
                        <div class="post-img">
                            <a href="blog-single.html" class="imghover"><img src="images/blog-5.jpg" class="img-responsive" alt="Fitness Website Template"></a>
                        </div>
                        <div class="post-header">
                            <div class="post-title">
                                <h3><a href="blog-single.html" class="text-white" >HOW TO ESTABLISH A NEW FITNESS ROUTINE</a></h3>
                            </div>
                            <div class="post-meta"> <span class="meta-date"><i class="icon-primary icon-1x icon-calendar"></i>27 november, 2017</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block mb30 quote-block">
                        <div class="post-img">
                            <a href="#" class="imghover"><img src="images/blog-6.jpg" class="img-responsive" alt="Fitness Website Template"></a>
                        </div>
                        <div class="post-header">
                            <blockquote>
                                <p>“Your Body is Your Most Priceless Possession. take care Of it”</p>
                            </blockquote>
                            <div class="quote-name">
                                <p>- Thomas Buntin</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="st-pagination"> 
              <!--st-pagination-->
              <ul class="pagination">
                <li> <a href="#" aria-label="previous"><span aria-hidden="true">previous</span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li> <a href="#" aria-label="Next"><span aria-hidden="true">next</span></a></li>
              </ul>
            </div>
            <!--/.st-pagination--> 
          </div>
            </div>
        </div>
    </div>
    <div class="footer space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-logo mb30">
                        <img src="images/logo.png" class="" alt="Fitness Website Template">
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Contact Info</h3>
                        <ul class="listnone">
                            <li>
                                <address>
                                    2687 Broadcast Drive Monroe,
                                    <br> NC 28112
                                </address>
                            </li>
                            <li>+1 (800)-123-456 </li>
                            <li>fitnessgym@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Quick Links</h3>
                        <ul class="listnone">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="classes.html">Classes</a></li>
                            <li><a href="blog-default.html">News</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="testimonial.html">Testimonial</a></li>
                            <li><a href="contact.html">Contactus</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Connect With us</h3>
                        <div class="footer-social"> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#" class="active"><i class="fa fa-facebook"></i> </a>
                            <a href="#"> <i class="fa fa-google-plus"></i> </a>
                            <a href="#"> <i class="fa fa-pinterest"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- back to top icon -->
    <a href="#0" class="cd-top" title="Go to top">Top</a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menumaker.js"></script>
    <!-- sticky header -->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
    <!-- animsition -->
    <script type="text/javascript" src="js/animsition.js"></script>
    <script type="text/javascript" src="js/animsition-script.js"></script>
    <!-- blog-carousel-->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/blog-carousel.js"></script>
    <!-- Back to top script -->
    <script src="js/back-to-top.js" type="text/javascript"></script>
</body>

</html>
